$FENHONG: #ffb3a7;
$FEISE: #ed5736;
$PINHONG: #f00056;
$TAOHONG: #f47983;
$HAITANGHONG: #db5a6b;
$SHILIUHONG: #f20c00;
$YINGTAOSE: #c93756;
$YINHONG2: #f05654;
$DAHONG: #ff2121;
$JIANGZI1: #8c4356;
$FEIHONG: #c83c23;
$YANZHI: #9d2933;
$ZHUHONG: #ff4c00;
$DAN: #ff4e20;
$TONG: #f35336;
$QIANSE: #cb3a56;
$HUOHONG: #ff2d51;
$HECHI: #c91f37;
$YANHONG: #ef7a82;
$YANGHONG: #ff0097;
$YAN: #ff3300;
$CHI: #c3272b;
$WAN: #a98175;
$ZAOHONG: #c32136;
$TAN: #b36d61;
$YINHONG1: #be002f;
$TUOHONG: #dc3023;
$TUOYAN: #f9906f;
$EHUANG: #fff143;
$YAHUANG: #faff72;
$YINGCAOSE: #eaff56;
$XINGHUANG: #ffa631;
$XINGHONG: #ff8c31;
$JUHUANG: #ff8936;
$CHENGHUANG: #ffa400;
$JUHONG: #ff7500;
$JIANGHUANG: #ffc773;
$XIANGSE: #f0c239;
$CHENGSE: #fa8c35;
$CHASE: #b35c44;
$TUOSE: #a88462;
$HUNHUANG: #c89b40;
$LISE: #60281e;
$ZONGSE: #b25d25;
$ZONGLV: #827100;
$ZONGHEI: #7c4b00;
$ZONGHONG: #9b4400;
$ZONGHUANG: #ae7000;
$ZHESE: #955539;
$HUPO: #ca6924;
$HESE: #6e511e;
$KUHUANG: #d3b17d;
$HUANGLU: #e29c45;
$QIUSE: #896c39;
$QIUXIANGSE: #d9b611;
$NENLV: #bddd22;
$LIUHUANG: #c9dd22;
$LIULV: #afdd22;
$ZHUQING: #789262;
$CONGHUANG: #a3d900;
$CONGLV: #9ed900;
$CONGQING: #0eb83a;
$QINGCONG: #0aa344;
$YOULV: #00bc12;
$LVCHEN: #0c8918;
$BISE: #1bd1a5;
$BILV: #2add9c;
$QINGBI: #48c0a3;
$FEICUISE: #3de1ad;
$CAOLV: #40de5a;
$QINGSE: #00e09e;
$QINGCUI: #00e079;
$QINGBAI: #c0ebd7;
$YALUANQING: #e0eee8;
$XIEKEQING: #bbcdc5;
$YAQING: #424c50;
$LVSE: #00e500;
$DOULV: #9ed048;
$DOUQING: #96ce54;
$SHIQING: #7bcfa6;
$YUSE: #7bcfa6;
$PIAO: #7fecad;
$AILV: #a4e2c6;
$SONGBAILV: #21a675;
$SONGHUALV: #057748;
$SONGHUASE: #bce672;
$LAN: #44cef6;
$DIANQING: #177cb0;
$DIANLAN: #065279;
$BILAN: #3eede7;
$WEILAN: #70f3ff;
$BAOLAN: #4b5cc4;
$LANHUISE: #a1afc9;
$ZANGQING: #2e4e7e;
$CANGLAN: #3b2e7e;
$DAI: #4a4266;
$DAILV: #426666;
$DAILAN: #425066;
$DAIZI: #574266;
$ZISE2: #8d4bbb;
$ZIJIANG: #815463;
$JIANGZI2: #815476;
$ZITAN: #4c221b;
$GANQING: #003371;
$ZITANG: #56004f;
$QINGLIAN: #801dae;
$QUNQING: #4c8dae;
$XUEQING: #b0a4e3;
$DINGXIANGSE: #cca4e3;
$OUSE: #edd1d8;
$OUHESE: #e4c6d0;
$CANGSE: #75878a;
$CANGHUANG: #519a73;
$CANGQING: #a29b7c;
$CANGHEI: #7397ab;
$CANGBAI: #d1d9e0;
$SHUISE: #88ada6;
$SHUIHONG: #f3d3e7;
$SHUILV: #d4f2e7;
$SHUILAN: #d2f0f4;
$DANQING: #d3e0f3;
$HULAN: #30dff3;
$HULV: #25f8cb;
$JINGBAI: #ffffff;
$XIANGYABAI: #fffbf0;
$XUEBAI: #f0fcff;
$YUEBAI: #d6ecf0;
$GAO: #f2ecde;
$SU: #e0f0e9;
$TUBAI: #f3f9f1;
$SHUANGSE: #e9f1f6;
$HUABAI: #c2ccd0;
$YUDUBAI: #fcefe8;
$YINGBAI: #e3f9fd;
$HUISE: #808080;
$YASE: #eedeb0;
$QIANBAI: #f0f0f4;
$XUANSE: #622a1d;
$XUANQING: #3d3b4f;
$WUSE: #725e82;
$WUHEI: #392f41;
$QIHEI: #161823;
$MOSE: #50616d;
$MOHUI: #758a99;
$HEISE: #000000;
$ZISE1: #493131;
$MEIHEI: #312520;
$LI1: #5d513c;
$LI2: #75664d;
$YOU: #6b6882;
$YOUHEI: #665757;
$AN: #41555d;
$CHIJIN: #f2be45;
$JINSE: #eacd76;
$YINBAI: #e9e7ef;
$TONGLV: #549688;
$WUJIN: #a78e44;
$LAOYIN: #bacac6;
